.header {
    background: #fff;
    box-shadow: $shadow-mega;
    padding: 40px 0 20px;
    position: relative;
    z-index: 1;
}

.header_item--logo {
    text-align: center;
    img {
        max-width: 70%;
    }
}

.header_item--nav {
    max-width: 400px;
    margin: 10px auto 0;
}

@media (min-width: $break-md) {

    .header {
        padding: 50px 0 40px;
    }

    .header_inner {
        display: flex;
        align-items: baseline;
    }

    .header_item {
        flex: 1 1 auto;
    }

    .header_item--logo {
        img {
            display: block;
            max-width: none;
        }
    }

    .header_item--nav {
        max-width: none;
        margin-top: 0;
    }

}
