/* media queries */
@define-mixin mq $break {
  @media (min-width: $break) { @mixin-content; }
}

@define-mixin mq-max $break {
  @media (max-width: $break) { @mixin-content; }
}

/* visual */
@define-mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(1px 1px 1px 1px);
}

/* lists */
@define-mixin plain-list {
  margin: 0;
  padding: 0;
  li {
   margin: 0;
   list-style: none;
  }
}

/* links */
@define-mixin link-states {
  &:hover, &:focus {
    @mixin-content;
  }
}