.card {
    max-width: 350px;
    width: 100%;
    box-shadow: $shadow-lg;
    background: #fff;
    margin: 0 auto;
}

a.card {
    transition: transform $transition-3, box-shadow $transition-3;
    text-decoration: none;
    color: #000;
    @mixin link-states {
        box-shadow: $shadow-lg-hover;
        text-decoration: none;
        transform: translateY(-5px);
    }
}

.card_title {
    background: $gray;
    padding: 14px $cell-h-padding;
    display: flex;
    align-items: flex-end;
    height: 21px;
}

.card_title-text {
    margin: 0;
    flex: 1 1 auto;
    font-weight: 400;
    font-family: $font-main;
    color: #fff;
    font-size: 1.9rem;
}

.card_text {
    padding: 30px $cell-h-padding;
    height: 75px;
    font-size: 1.4rem;
    line-height: $line-height-sm;
    p {
        margin: 0;
    }
}

.card_actions {
    border-top: 1px solid $feather;
    padding: 16px $cell-h-padding;
}