.crane-wrapper {
    text-align: center;
}

#crane {
    max-width: 100%;
    margin-right: -20px;
    
    @mixin mq $break-sm {
        max-width: 315px;
    }

    @mixin mq $max-width {
        max-width: none;
    }

}

.crane-title {
    font-size: 2.1rem;
    font-family: $font-main;
    font-weight: $font-main-normal;
    margin: 0;
}

.crane-subtitle {
    color: $gray;
    margin: 10px auto;
    line-height: $line-height-xs;
}

/* shared breakpoints */
@mixin mq $break-crane {

    .crane-title,
    .crane-subtitle {
        text-align: center;
    }

}

@mixin mq $break-lg {

    #crane {
        margin-right: 0;
    }

    .crane-wrapper,
    .crane-title,
    .crane-subtitle {
        text-align: left;
    }

    .crane-title { 
        margin-top: 15%;
    }

}
