.main-nav {
    @mixin float-clear;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-nav_item {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: $third;
    
    a {
        position: relative;
        font-weight: $font-2-semibold;
        font-family: $font-2;
        font-size: 1.9rem;
        text-decoration: none;
        display: block;
        padding: 1rem;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 0.3rem;
            left: 50%;
            bottom: 0.6rem; /* for <a> padding */
            position: absolute;
            background: $blue;
            transition: width 300ms ease, left 300ms ease;
            width: 0;
        }
        &:hover:after {
            width: 100%; 
            left: 0; 
        }
    }
}

@media (min-width: $break-md) {

    .main-nav {
        text-align: right;
        width: auto;
    }

    .main-nav_item { 
        float: none;
        width: auto;
        display: inline-block;
        padding-right: 2.5rem;

        a {
            display: inline-block;
            font-size: 2.2rem;
            padding: 1rem 0;
        }

        &:last-of-type {
            padding-right: 0;
        }

    }

}