{{ partial "header.html" . }}
	<main role="main">
        <section class="region region--crane">
            <div class="container">
                <div class="flex-grid flex-grid--unequal lg-flex-grid--fit">
                     <div class="flex-grid-cell crane-wrapper">
                        {{ partial "images/crane.svg" . }}
                     </div>
                     <div class="flex-grid-cell lg-flex-cell--2x">
                        <h1 class="crane-title">Building websites with precision and creativity.</h1>
                        <p class="crane-subtitle">Hello! My name is Monica and I'm a frontend developer.</p>
                     </div>
                 </div> 
            </div>
        </section>
        <section class="region">
            <div class="container container--sm">
                <h2 id="work" class="main-heading">Featured Work</h2>
            </div>
            <div class="container">
                <div class="flex-grid lg-flex-grid--fit">
                    <div class="flex-grid-cell">
                        <a href="http://raind.msu.edu/" target="_blank" class="card card--feature">
                            <div class="card_title">
                                <h2 class="card_title-text">RAIND</h2>
                            </div>
                            <div class="card_text">
                                <p>A WCAG 2.0 AAA compliant Drupal site for Michigan Sate University's Autism Research.</p>
                            </div>
                            <div class="card_actions">
                                <span class="faux-button">raind.msu.edu</span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-grid-cell">
                        <a href="http://expensify.monicasalter.com/" target="_blank" class="card card--feature">
                            <div class="card_title">
                                <h2 class="card_title-text">Expensify</h2>
                            </div>
                            <div class="card_text">
                                A React with Redux app for tracking expenses.
                            </div>
                            <div class="card_actions">
                                <span class="faux-button">expensify.monicasalter.com</span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-grid-cell">
                        <a href="http://lifewayscmh.org/" target="_blank" class="card card--feature">
                            <div class="card_title">
                                <h2 class="card_title-text">Lifeways</h2>
                            </div>
                            <div class="card_text">
                                A Mental health service and resource site built in DNN (DotNetNuke).
                            </div>
                            <div class="card_actions">
                                <span class="faux-button">lifewayscmh.org</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="region region--pattern">
            <div class="container container--sm">
                <h2 id="about" class="main-heading">About</h2>
                <p>I build websites that clients can maintain easily, users can understand quickly, and developers can modify seamlessly.</p>
                <p><strong>React</strong> is my framework of choice for building JavaScript <strong>web apps</strong>, but I've also dabbled in others like Vue and Angular. When I'm styling an app, I write <strong>modular, maintainable CSS</strong>, usually with <strong>Sass</strong>, and I love a well organized <strong>pattern library</strong>.</p> 
                <p>When I'm not buiding websites, I like to read, spend time outdoors, and play board games with friends!</p>
                <h3>Contact</h3>
                <p>As of July 2017 I am located in <strong>Seattle</strong>! If you'd like to get in touch, you can email <a href="mailto:mocasalter@gmail.com?Subject=Hi%20Monica">mocasalter[at]gmail.com</a> or find me on <a href="https://twitter.com/mocasalter" target="_blank">Twitter</a> and <a href="https://github.com/mocasalter" target="_blank">Github</a>.</p>
                <div class="margin-top-lg text-center">
                    <img src="{{ .Site.BaseURL }}images/profile-pic.png" alt="Photo of Monica" class="profile-pic">
                </div>
            </div>
        </section>
		<section class="region region--bottom-lg">
            <div class="container container--sm">
                <h2 id="more" class="main-heading">More Projects</h2>
                <!-- <div class="divider-crane">
                    <img src="{{ .Site.BaseURL }}images/tiny-crane.svg" alt="">
                </div> -->
            </div>
            <div class="container">
                <div class="flex-grid lg-flex-grid--center">

                        <div class="flex-grid-cell">
                            <a href="http://tayce-t-recipes.monicasalter.com/" target="_blank" class="card">
                                <div class="card_title">
                                    <h2 class="card_title-text">Tayce T Recipes</h2>
                                </div>
                                <div class="card_text">
                                    An animated Vanilla JS app themed after the 2004 Paper Mario game for Nintendo 64
                                </div>
                                <div class="card_actions">
                                    <span class="faux-button">tayce-t-recipes.monicasalter.com</span>
                                </div>
                            </a>
                        </div>

                        <div class="flex-grid-cell">
                            <a href="https://biomilab.com/" target="_blank" class="card">
                                <div class="card_title">
                                    <h2 class="card_title-text">Biomilab</h2>
                                </div>
                                <div class="card_text">
                                    A static site for bioscience research that incorporates lots of angles, patterns, and svg shapes!
                                </div>
                                <div class="card_actions">
                                    <span class="faux-button">biomilab.com</span>
                                </div>
                            </a>
                        </div>


                </div>
            </div>
        </section>
	</main>
{{ partial "footer.html" . }}