{{ partial "header.html" . }}
	<main role="main">
        <section class="region region--crane">
            <div class="container">
                <div class="flex-grid flex-grid--unequal lg-flex-grid--fit">
                     <div class="flex-grid-cell crane-wrapper">
                        {{ partial "images/crane.svg" . }}
                     </div>
                     <div class="flex-grid-cell lg-flex-cell--2x">
                        <h1 class="crane-title">Building websites with precision and creativity asdf.</h1>
                        <p class="crane-subtitle">Hello! My name is Monica and I'm a frontend developer.</p>
                     </div>
                 </div> 
            </div>
        </section>
        <section class="region">
            <div class="container container--sm">
                <h2 id="work" class="main-heading">Featured Work</h2>
                <p class="p-extra-space">As an employee of Gravity Works Design + Development, I’ve had the privilage of working on these awesome projects as the primary frontend developer.</p>
            </div>
            <div class="container">
                <div class="flex-grid lg-flex-grid--fit">
                    <div class="flex-grid-cell">
                        <a href="http://lifewayscmh.org/" target="_blank" class="color-card">
                            <div class="color-card_title">
                                <h2 class="color-card_title-text">Lifeways</h2>
                            </div>
                            <div class="color-card_text">
                                A Mental health service and resource site built in DNN (DotNetNuke).
                            </div>
                            <div class="color-card_actions">
                                <span class="faux-button">lifewayscmh.org</span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-grid-cell">
                        <a href="http://raind.msu.edu/" target="_blank" class="color-card">
                            <div class="color-card_title">
                                <h2 class="color-card_title-text">RAIND</h2>
                            </div>
                            <div class="color-card_text">
                                <p>A WCAG 2.0 AAA compliant Drupal site for Michigan Sate University's Autism Research.</p>
                            </div>
                            <div class="color-card_actions">
                                <span class="faux-button">raind.msu.edu</span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-grid-cell">
                        <a href="https://biomilab.com/" target="_blank" class="color-card">
                            <div class="color-card_title">
                                <h2 class="color-card_title-text">Biomilab</h2>
                            </div>
                            <div class="color-card_text">
                                A static site for bioscience research that incorporates lots of angles, patterns, and svg shapes!
                            </div>
                            <div class="color-card_actions">
                                <span class="faux-button">biomilab.com</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="region region--pattern">
            <div class="container container--sm">
                <h2 id="about" class="main-heading">About</h2>

                <p>I build websites that clients can maintain easily, users can understand quickly, and developers can modify seamlessly. My greatest strength is in writing <strong>modular, maintainable CSS</strong>, and I love a well organized <strong>pattern library</strong>.</p>
                    
                </p>When I’m not working on websites I do a lot of reading! Scifi books, business books, comics, I’m not picky. I also like to meet new people, drink tea, and spend time outdoors.</p>

                <h3>Contact</h3>
                <p>As of July 2017 I am located in <strong>Seattle</strong>!</p>
                <p>If you'd like to get in touch, you can email <a href="mailto:mocasalter@gmail.com?Subject=Hi%20Monica">mocasalter[at]gmail.com</a> or find me on <a href="https://twitter.com/mocasalter" target="_blank">Twitter</a> and <a href="https://github.com/mocasalter" target="_blank">Github</a>.</p>
                <div class="margin-top-lg text-center">
                    <img src="{{ .Site.BaseURL }}images/profile-pic.png" alt="Photo of Monica" class="profile-pic">
                </div>
            </div>
        </section>
		<section class="region region--bottom-lg">
            <div class="container container--sm">
                <h2 id="blog" class="main-heading">Blog</h2>
                <div class="divider-crane">
                    <img src="{{ .Site.BaseURL }}images/tiny-crane.svg" alt="">
                </div>
                <p>Coming soon.</p>
            </div>
        </section>
	</main>
{{ partial "footer.html" . }}