.container {
    @mixin float-clear;
    position: relative;
    /* width: 100%; */
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $gutter;
}

.container--lg {
    max-width: 120rem;
}

.container--sm {
    max-width: 80rem;
}

/* @media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
} */

@media (min-width: $break-md) {
    .container {
        width: 80%;
        padding: 0;
    }

    .container--lg {
        width: 90%;
    }

    .container--sm {
        width: 75%;
    }
}