.container {
    @mixin float-clear;
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $gutter;
}

.container--lg {
    max-width: $container-max;
}

.container--sm {
    max-width: $container-max-sm;
}

@media (min-width: $break-md) {

    .container {
        width: 80%;
        padding: 0;
    }

    .container--lg {
        width: 90%;
    }

    .container--sm {
        width: 75%;
    }

}