.region {
  background-color: #fff;
  padding: $region-pad-sm 0;
}

.region--bottom-lg {
    padding: $region-pad-sm 0 150px;
}

.region--crane {
    padding: 90px 0 30px;
    position: relative;
    &:after {
        @mixin pseudo-absolute;
        @mixin centerer-x;
        top: 100%; 
        width: 90%;
        height: 1px;
        background: $stone;
        max-width: $max-width;
    }
}

.region--pattern {
    background: url(../images/pattern-bg.png) lightgray;
}

@media (min-width: $break-md) {
    .region {
        padding: $region-pad-lg 0;
    }

    .region--crane {
        padding: 120px 0 40px;
    }

    .region--bottom-lg {
        padding: $region-pad-lg 0 170px;
    }
}