.region {
  background-color: #fff;
  padding: 7rem 0;
}

.region--more-space {
    padding: 7rem 0 15rem;
}

.region--pattern {
    background: url(../images/pattern-bg.png) lightgray;
}

@media (min-width: $break-md) {
    .region {
        padding: 12.5rem 0;
    }

    .region--more-space {
        padding: 12.5rem 0 17rem;
    }
}