/*
h1 { font-size: $ts-h1-sm; }
h2 { font-size: $ts-h2; }
h3 { font-size: $ts-h3; }
h4 { font-size: $ts-h4; }
h5 { font-size: $ts-h5; }
h6 { font-size: $ts-h6; }
*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: #000;
  font-family: $font-2;
  margin: $heading-space auto;
  a {
    text-decoration: none;
  }
}
/*
h1 {
  margin: 0;
  font-weight: $fw-b-bold;
  @mixin mq $break-md-2 {
    font-size: $ts-h1;
  }
}

h2 {
  margin: calc($text-margin*2) 0 $text-margin;
  font-weight: $fw-b-bold;
  letter-spacing: -0.12rem;
}
*/

h3 {
  font-size: 2.7rem;
}

/*
h3, h4, h5, h6 {
  margin: $text-margin 0;
  font-weight: $fw-b-med;
}*/

.main-heading {
  font-size: 4.2rem;
  font-weight: $font-2-extrabold;
  text-align: center;
}

.divider-crane {

  position: relative;
  text-align: center;
  margin: $heading-space auto;

  img {
    background: #fff;
    padding: 0 32px;
    position: relative;
    z-index: 1;
  }

  &:after {
    @mixin pseudo-absolute;
    @mixin centerer;
    width: 100%;
    height: 1px;
    background: $gray;
    border: none;
  }

  /* if it's in a small container, make it wider */
  /* .container--sm & {
    @media (min-width: $break-md) {
      width: 110%;
      left: -5%;
    }
  } */

}