strong {
    font-weight: $font-main-semibold;
}

.text-center {
    text-align: center;
}

.faux-button {
    @mixin text-sm-bold;
    text-decoration: underline;
    color: $navy;
    @mixin link-states {
        color: $navy-dark;
    }
}

.p-extra-space {
    margin: 50px auto;
}

