/* Colors */
$navy:          #1c79c0;
$navy-dark:     #11507F;
$blue:          #0389ed;
$sky:           #08b0f6;
$azure:         #0dd3ff;
$gray:          #555555;
$stone:         #cdcdcd;
$feather:       #e0e0e0;

$blue-gradient: linear-gradient(to right, $navy, $blue 48%, $azure);
$blue-gradient-soft: linear-gradient(to right, $navy, $blue 48%, $sky);
$shadow-mega: 0 0 20px 0 rgba(0, 0, 0, 0.1);
$shadow-lg: 0 1px 10px 0 rgba(0, 0, 0, 0.09), 0 1px 10px 0 rgba(0, 0, 0, 0.09);
$shadow-lg-hover: 0 4px 11px 0px rgba(0,0,0,.05), 0 4px 11px 0px rgba(0,0,0,.05);


/* Sizes */
$gutter: 20px;
$cell-h-padding: 20px;

$region-pad-sm: 60px;
$region-pad-lg: 80px;

$heading-space: 40px;
$third: 33.333%;

$max-width:   1000px;
$break-sm:    460px;
$break-md:    600px;
$break-crane: 640px;
$break-lg:    860px;

$container-max: 1200px;
$container-max-sm: 800px;

$transition-3: 300ms;

/* Fonts */
$font-main: 'Open Sans', sans-serif;
$font-2: 'Work Sans', sans-serif;
$font-main-normal: 400;
$font-main-semibold: 600;
$font-2-semibold: 600;
$font-2-extrabold: 800;

$line-height: 1.8;
$line-height-sm: 1.6;
$line-height-xs: 1.4;

$small-text: 1.4rem;
